<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="apiRecommendation.View.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="apiRecommendation.View.Perspective"
            id="Learn_Plugin.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="APIView"
            class="apiRecommendation.View.View"
            id="Learn_Plugin.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="Learn_Plugin.view"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editors"
               standalone="true"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=additions">
         <command
               commandId="Learn_Plugin.showView"
               id="Learn_Plugin.menu.showView"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.jdt.ui.CompilationUnitEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="apiRecommendation.View.OpenViewHandler"
            id="Learn_Plugin.showView"
            name="Open API View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="apiRecommendation.View.APIPreferencePage"
            id="Learn_Plugin.preferencePage"
            name="APIPreferencePage">
      </page>
   </extension>

</plugin>
